<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>

<h1>Applied Data Science Capstone Week 3 Peer-Graded Assignment</h1>

<h1>Loading the Libraries</h1>

In [1]:
pip install geopy

Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install bs4

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

<h1>Scraping Wikipedia</h1>

In [2]:
# send the GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [4]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [5]:
soup.find('table').find_all('tr')

# find all the rows of the table
soup.find('table').find_all('tr')

# for each row of the table, find all the table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [6]:
 #append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n'))

In [7]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

  PostalCode             Borough                Neighborhood
0      M1A\n      Not assigned\n
1      M2A\n      Not assigned\n
2      M3A\n        North York\n                   Parkwoods
3      M4A\n        North York\n            Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park / Harbourfront

<h1>3. Drop cells with a borough that is "Not assigned"</h1>

In [9]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode             Borough                Neighborhood
0      M1A\n      Not assigned\n
1      M2A\n      Not assigned\n
2      M3A\n        North York\n                   Parkwoods
3      M4A\n        North York\n            Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park / Harbourfront

<h1>4. Group neighborhoods in the same borough</h1>

In [11]:
# group neighborhoods in the same borough
toronto_df_grouped = toronto_df_dropna.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  PostalCode         Borough                              Neighborhood
0      M1A\n  Not assigned\n
1      M1B\n   Scarborough\n                           Malvern / Rouge
2      M1C\n   Scarborough\n  Rouge Hill / Port Union / Highland Creek
3      M1E\n   Scarborough\n       Guildwood / Morningside / West Hill
4      M1G\n   Scarborough\n                                    Woburn

<h1>5. For Neighborhood="Not assigned", make the value the same as Borough</h1>

In [13]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
toronto_df_grouped.head()

  PostalCode         Borough                              Neighborhood
0      M1A\n  Not assigned\n
1      M1B\n   Scarborough\n                           Malvern / Rouge
2      M1C\n   Scarborough\n  Rouge Hill / Port Union / Highland Creek
3      M1E\n   Scarborough\n       Guildwood / Morningside / West Hill
4      M1G\n   Scarborough\n                                    Woburn

<h1>6. Check whether it is the same as required by the question</h1>

In [14]:
# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_grouped[toronto_df_grouped["PostalCode"]==postcode], ignore_index=True)
    
test_df

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

<h1>7. Finally, print the number of rows of the cleaned dataframe</h1>

In [15]:
# print the number of rows of the cleaned dataframe
toronto_df_grouped.shape

(180, 3)